# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

/vendor
/node_modules
.env
.env-test

.idea/
.vscode/

/npm-debug.log

.phpunit*
tests/config.php
